body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
    background: #eee;
}

div {
    text-align: center;
}

.labels {
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    margin: 0 0 20px 0;
    padding: 10px;
    text-decoration: underline;
}

input {
    border: none;
    padding: 14px;
    font-size: 16px;
    margin-bottom: 20px;
}

input:focus {
    outline: 0;
}

select {
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    outline: 0;
}

.add-project {
    color: #333;
    font-size: 40px;
    padding: 0 15px;
}

.submit{
    background: #006666;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
}

li {
    margin-bottom: 20px;
}
